parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$sendFrom of method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Command\\\\SesSendTestEmailsCommand\\:\\:createMessage\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Command/SesSendTestEmailsCommand.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/Command/SesSendTestEmailsCommand.php

		-
			message: "#^Class DateTime is unsafe to use\\. Its methods can return FALSE instead of throwing an exception\\. Please add 'use Safe\\\\DateTime;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\\.$#"
			count: 1
			path: src/Entity/Bounce.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Entity\\\\Bounce\\:\\:create\\(\\) has parameter \\$bouncedRecipient with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Bounce.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Entity\\\\Bounce\\:\\:create\\(\\) has parameter \\$notification with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Bounce.php

		-
			message: "#^Class DateTime is unsafe to use\\. Its methods can return FALSE instead of throwing an exception\\. Please add 'use Safe\\\\DateTime;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\\.$#"
			count: 2
			path: src/Entity/Complaint.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Entity\\\\Complaint\\:\\:create\\(\\) has parameter \\$notification with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Complaint.php

		-
			message: "#^Class DateTime is unsafe to use\\. Its methods can return FALSE instead of throwing an exception\\. Please add 'use Safe\\\\DateTime;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\\.$#"
			count: 1
			path: src/Entity/Delivery.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Entity\\\\Delivery\\:\\:create\\(\\) has parameter \\$notification with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Delivery.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Entity\\\\EmailStatus\\:\\:getBounces\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/EmailStatus.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Entity\\\\EmailStatus\\:\\:getComplaints\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/EmailStatus.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Entity\\\\EmailStatus\\:\\:getDeliveries\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/EmailStatus.php

		-
			message: "#^Parameter \\#1 \\$p of method Doctrine\\\\Common\\\\Collections\\\\ReadableCollection\\<\\(int\\|string\\),mixed\\>\\:\\:exists\\(\\) expects Closure\\(\\(int\\|string\\), mixed\\)\\: bool, Closure\\(mixed, SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Entity\\\\Bounce\\)\\: bool given\\.$#"
			count: 1
			path: src/Entity/EmailStatus.php

		-
			message: "#^Parameter \\#1 \\$p of method Doctrine\\\\Common\\\\Collections\\\\ReadableCollection\\<\\(int\\|string\\),mixed\\>\\:\\:exists\\(\\) expects Closure\\(\\(int\\|string\\), mixed\\)\\: bool, Closure\\(mixed, SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Entity\\\\Complaint\\)\\: bool given\\.$#"
			count: 1
			path: src/Entity/EmailStatus.php

		-
			message: "#^Parameter \\#1 \\$p of method Doctrine\\\\Common\\\\Collections\\\\ReadableCollection\\<\\(int\\|string\\),mixed\\>\\:\\:exists\\(\\) expects Closure\\(\\(int\\|string\\), mixed\\)\\: bool, Closure\\(mixed, SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Entity\\\\Delivery\\)\\: bool given\\.$#"
			count: 1
			path: src/Entity/EmailStatus.php

		-
			message: "#^Class DateTime is unsafe to use\\. Its methods can return FALSE instead of throwing an exception\\. Please add 'use Safe\\\\DateTime;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\\.$#"
			count: 1
			path: src/Entity/MailMessage.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Entity\\\\MailMessage\\:\\:create\\(\\) has parameter \\$mailMessageData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/MailMessage.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Entity\\\\MailMessage\\:\\:getBounces\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/MailMessage.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Entity\\\\MailMessage\\:\\:getComplaints\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/MailMessage.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Entity\\\\MailMessage\\:\\:getDeliveries\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/MailMessage.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Handler\\\\AbstractNotification\\:\\:processNotification\\(\\) has parameter \\$notification with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Handler/AbstractNotification.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Handler\\\\BounceNotificationHandler\\:\\:processNotification\\(\\) has parameter \\$notification with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Handler/BounceNotificationHandler.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Handler\\\\ComplaintNotificationHandler\\:\\:processNotification\\(\\) has parameter \\$notification with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Handler/ComplaintNotificationHandler.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Handler\\\\DeliveryNotificationHandler\\:\\:processNotification\\(\\) has parameter \\$notification with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Handler/DeliveryNotificationHandler.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Helper\\\\MessageHelper\\:\\:extractMessageData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Helper/MessageHelper.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Helper\\\\MessageHelper\\:\\:extractMessageData\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Helper/MessageHelper.php

		-
			message: "#^Parameter \\#1 \\$data of class Aws\\\\Sns\\\\Message constructor expects array, mixed given\\.$#"
			count: 1
			path: src/Helper/MessageHelper.php

		-
			message: "#^Parameter \\#1 \\$json of function Safe\\\\json_decode expects string, mixed given\\.$#"
			count: 1
			path: src/Helper/MessageHelper.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Plugin\\\\MonitorFilterPlugin\\:\\:filterBlacklisted\\(\\) has parameter \\$identities with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/MonitorFilterPlugin.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Plugin\\\\MonitorFilterPlugin\\:\\:filterBlacklisted\\(\\) has parameter \\$recipients with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/MonitorFilterPlugin.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Plugin\\\\MonitorFilterPlugin\\:\\:filterBlacklisted\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/MonitorFilterPlugin.php

		-
			message: "#^Parameter \\#1 \\$identities of method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Plugin\\\\MonitorFilterPlugin\\:\\:filterBlacklisted\\(\\) expects array, mixed given\\.$#"
			count: 3
			path: src/Plugin/MonitorFilterPlugin.php

		-
			message: "#^Property SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Plugin\\\\MonitorFilterPlugin\\:\\:\\$blacklisted type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Plugin/MonitorFilterPlugin.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Processor\\\\NotificationProcessor\\:\\:loadOrCreateMailMessage\\(\\) has parameter \\$messageData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Processor/NotificationProcessor.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Service\\\\IdentitiesStore\\:\\:__construct\\(\\) has parameter \\$identities with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/IdentitiesStore.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Service\\\\IdentitiesStore\\:\\:getIdentities\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/IdentitiesStore.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Service\\\\IdentitiesStore\\:\\:getIdentitiesList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/IdentitiesStore.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Service\\\\IdentitiesStore\\:\\:getIdentity\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/IdentitiesStore.php

		-
			message: "#^Property SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Service\\\\IdentitiesStore\\:\\:\\$identities type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/IdentitiesStore.php

		-
			message: "#^Cannot access offset 'filter' on array\\|bool\\|int\\|string\\.$#"
			count: 1
			path: src/Util/EmailStatusAnalyzer.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Util\\\\IdentityGuesser\\:\\:getEmailParts\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Util/IdentityGuesser.php

		-
			message: "#^Cannot call method format\\(\\) on DateTimeInterface\\|null\\.$#"
			count: 1
			path: tests/Entity/ComplaintTest.php

		-
			message: "#^Class DateTime is unsafe to use\\. Its methods can return FALSE instead of throwing an exception\\. Please add 'use Safe\\\\DateTime;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\\.$#"
			count: 6
			path: tests/Entity/EmailStatusTest.php

		-
			message: "#^You should use assertCount\\(\\$expectedCount, \\$variable\\) instead of assertSame\\(\\$expectedCount, \\$variable\\-\\>count\\(\\)\\)\\.$#"
			count: 7
			path: tests/Entity/EmailStatusTest.php

		-
			message: "#^Class DateTime is unsafe to use\\. Its methods can return FALSE instead of throwing an exception\\. Please add 'use Safe\\\\DateTime;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\\.$#"
			count: 1
			path: tests/Entity/MailMessageTest.php

		-
			message: "#^You should use assertCount\\(\\$expectedCount, \\$variable\\) instead of assertSame\\(\\$expectedCount, \\$variable\\-\\>count\\(\\)\\)\\.$#"
			count: 3
			path: tests/Entity/MailMessageTest.php

		-
			message: "#^Parameter \\#1 \\$message of method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Helper\\\\MessageHelper\\:\\:extractMessageData\\(\\) expects Aws\\\\Sns\\\\Message, mixed given\\.$#"
			count: 1
			path: tests/Helper/MessageHelperTest.php

		-
			message: "#^Parameter \\#1 \\$message of method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Helper\\\\MessageHelper\\:\\:validateNotification\\(\\) expects Aws\\\\Sns\\\\Message, mixed given\\.$#"
			count: 1
			path: tests/Helper/MessageHelperTest.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Tests\\\\Plugin\\\\MonitorFilterPluginTest\\:\\:getEmailStatusMap\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Plugin/MonitorFilterPluginTest.php

		-
			message: "#^Method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Tests\\\\Plugin\\\\MonitorFilterPluginTest\\:\\:getRecipients\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Plugin/MonitorFilterPluginTest.php

		-
			message: "#^Parameter \\#2 \\$array of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertArrayHasKey\\(\\) expects array\\|ArrayAccess, mixed given\\.$#"
			count: 1
			path: tests/Plugin/MonitorFilterPluginTest.php

		-
			message: "#^Parameter \\#2 \\$array of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertArrayNotHasKey\\(\\) expects array\\|ArrayAccess, mixed given\\.$#"
			count: 3
			path: tests/Plugin/MonitorFilterPluginTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertContains\\(\\) expects iterable, mixed given\\.$#"
			count: 4
			path: tests/Plugin/MonitorFilterPluginTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNotContains\\(\\) expects iterable, mixed given\\.$#"
			count: 1
			path: tests/Plugin/MonitorFilterPluginTest.php

		-
			message: "#^Class DateTime is unsafe to use\\. Its methods can return FALSE instead of throwing an exception\\. Please add 'use Safe\\\\DateTime;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\\.$#"
			count: 1
			path: tests/Processor/NotificationProcessorTest.php

		-
			message: "#^PHPDoc tag @var for property SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Tests\\\\Processor\\\\NotificationProcessorTest\\:\\:\\$bounceNotificationHandler contains unresolvable type\\.$#"
			count: 1
			path: tests/Processor/NotificationProcessorTest.php

		-
			message: "#^PHPDoc tag @var for property SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Tests\\\\Processor\\\\NotificationProcessorTest\\:\\:\\$complaintNotificationHandler contains unresolvable type\\.$#"
			count: 1
			path: tests/Processor/NotificationProcessorTest.php

		-
			message: "#^PHPDoc tag @var for property SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Tests\\\\Processor\\\\NotificationProcessorTest\\:\\:\\$deliveryNotificationHandler contains unresolvable type\\.$#"
			count: 1
			path: tests/Processor/NotificationProcessorTest.php

		-
			message: "#^PHPDoc tag @var for property SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Tests\\\\Processor\\\\NotificationProcessorTest\\:\\:\\$mockMessageHelper contains unresolvable type\\.$#"
			count: 1
			path: tests/Processor/NotificationProcessorTest.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 4
			path: tests/Processor/NotificationProcessorTest.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 2
			path: tests/Processor/RequestProcessorTest.php

		-
			message: "#^PHPDoc tag @var for property SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Tests\\\\Processor\\\\SubscriptionProcessorTest\\:\\:\\$mockMessageHelper contains unresolvable type\\.$#"
			count: 1
			path: tests/Processor/SubscriptionProcessorTest.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 1
			path: tests/Processor/SubscriptionProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with \\*NEVER\\* and SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Util\\\\IdentityGuesser will always evaluate to false\\.$#"
			count: 1
			path: tests/Service/MonitorTest.php

		-
			message: "#^PHPDoc tag @var for property SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Tests\\\\Service\\\\MonitorTest\\:\\:\\$mockAwsDataProcessor contains unresolvable type\\.$#"
			count: 1
			path: tests/Service/MonitorTest.php

		-
			message: "#^PHPDoc tag @var for property SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Tests\\\\Service\\\\MonitorTest\\:\\:\\$mockConfiguredIdentities contains unresolvable type\\.$#"
			count: 1
			path: tests/Service/MonitorTest.php

		-
			message: "#^PHPDoc tag @var for property SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Tests\\\\Service\\\\MonitorTest\\:\\:\\$mockConsole contains unresolvable type\\.$#"
			count: 1
			path: tests/Service/MonitorTest.php

		-
			message: "#^PHPDoc tag @var for property SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Tests\\\\Service\\\\MonitorTest\\:\\:\\$mockIdentityGuesser contains unresolvable type\\.$#"
			count: 1
			path: tests/Service/MonitorTest.php

		-
			message: "#^Parameter \\#1 \\$sectionTitle of method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Service\\\\Monitor\\:\\:retrieve\\(\\) expects Symfony\\\\Component\\\\Console\\\\Output\\\\OutputInterface, PHPUnit\\\\Framework\\\\MockObject\\\\MockObject given\\.$#"
			count: 3
			path: tests/Service/MonitorTest.php

		-
			message: "#^Parameter \\#2 \\$sectionBody of method SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Service\\\\Monitor\\:\\:retrieve\\(\\) expects Symfony\\\\Component\\\\Console\\\\Output\\\\OutputInterface, PHPUnit\\\\Framework\\\\MockObject\\\\MockObject given\\.$#"
			count: 3
			path: tests/Service/MonitorTest.php

		-
			message: "#^Property SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Tests\\\\Service\\\\MonitorTest\\:\\:\\$mockLiveData is unused\\.$#"
			count: 1
			path: tests/Service/MonitorTest.php

		-
			message: "#^Property SerendipityHQ\\\\Bundle\\\\AwsSesMonitorBundle\\\\Tests\\\\Service\\\\MonitorTest\\:\\:\\$mockLiveData type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Service/MonitorTest.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 4
			path: tests/Service/MonitorTest.php

