includes:
    - .baseline-phpstan.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    exceptions:
        check:
            missingCheckedExceptionInThrows: false
            tooWideThrowType: false
    bootstrapFiles:
        - vendor-bin/phpunit/vendor/autoload.php
    paths:
        - src
        - tests
    excludePaths:
        - */src/DependencyInjection/Configuration.php
        - */src/Kernel.php
        - */src/Util/Console.php
        - */src/Processor/RequestProcessor.php
        - */src/Processor/AwsDataProcessor.php
        - */src/Controller/EndpointController.php
        - */src/Manager/SesManager.php
        - */src/Manager/SnsManager.php
        - */src/SHQAwsSesMonitorBundle.php
        - */src/Command/ConfigureCommand.php
        - */src/Command/DebugCommand.php
        - */src/Service/Monitor.php
        - */src/DependencyInjection/SHQAwsSesMonitorExtension.php
        - */tests/Util/ConsoleTest.php
        - */tests/DependencyInjection/AbstractSerendipityHQAwsSesBouncerExtensionTest.php
        - */tests/DependencyInjection/YamlAwsSesMonitorBundleExtensionTest.php
